*{
  font-family: 'Roboto', sans-serif;
}
nav{
  height: 56px;
  width: 100%;
}
.navbar-left{
  width: 25%;
  float: left;
}
.navbar-left li{
  display: inline;
  padding-right: 5px;
}
.logo
{
  color: red;
}
.navbar-right{
  float: right;
  margin: 0;
}

.navbar-right i{
  float: left;
  width: 30px;
  text-align: center;
  padding: 6px;
  font-size: larger;
}
}
.top-img{
  float: right;
  margin-right: 5px;
}
.search{
  padding-top: 10px;
  width: 70%;
  height: 5%;
  float: left;
}

.search-button{
  width: 5%;
  outline: none;
}

#searchbar{
  width: 45%;
  outline: none;
}

.content{
  height: 100vh;
  width: 65%;
  /* background-color: blue; */
  float: left;
}
aside{
  height: 100vh;
  width: 35%;
  /* background-color: yellow; */
  float: right;

}
.inner-content{
  width: 1024px;
  padding-top: 24px;
  padding-right: 24px;
  float: right;
}

.vid-info{
  float: left;
  margin-right: 5px;
}
.icons{
  float: right;
}
.icons span{
  padding: 0 5px;
}

.icons span i{
  margin-right: 5px;
}
.description{
  /* background-color: green; */
  height: 180px;
  clear: both;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.desc-top{
  height: 48px;
  margin-top: 16px;
}
.description-box{
  margin-bottom: 15px;
}
.user-img{
  float: left;
  padding: 0 15px 0 0;
  height: 169px;
}
.channel{
  float: left;
}
.channel p{
  margin: 0;
}
.description button{
  float: right;
  color: white;
  background-color: red;
  padding: 10px 16px;
  border: 0;
}
.add-comment{
  border-bottom: 1px solid gray;
  width: 90%;
  height: 26px;
  float: left;
}
.cmt-head{
  height: 40px;
  margin: 24px 0;
}

.round-image{
  border-radius: 50%;
}

.cmt-img{
  margin-right: 2%;
  float: left;
}

.comment-body{
  height: 98px;
  margin-bottom: 16px;
}
.user{
  float: left;
  padding-right: 5px;
}

.icons{
  float: left;
}
.usr-img{
  width: 56px;
  height: 98px;
  float: left;
}
.cmt-icons i{
  padding-right: 15px;
  color: gray;
}
 aside{
   width: 20%;
   float: left;
   margin-top: 20px;
 }
 .rel-head{
   height: 139px;
   padding-bottom: 10px;
   border-bottom: 1px solid gray;
   margin-bottom: 15px;
 }
.related-top{
  height: 20px;
  display: block;
}
.vid{
  padding-bottom: 15px;
  height: 94px;
}
.thumbnail{
  width: 168px;
  height: 94px;
  background-color: gray;
  float: left;
  margin-right: 15px;
}
.autoplay{
  float: right;
}